.userContainer {
  min-height: 100vh;
  .mainScreen {
    margin: auto;
    background-color: rgb(245, 199, 199);
    width: 30%;
    min-width: 30%;
    max-width: 50%;
    height: 100vh;
    min-height: 100vh;
    z-index: -1;

    .shopTitle {
      height: 6%;
      // max-height: 10%;
      background-color: green;

      p {
        font-size: 20px;
        padding-top: 0.4rem;
        text-align: center;
      }
    }

    .backBtn {
      position: absolute;
      z-index: 1;
      top: 2%;
      padding-left: 1%;
    }

    .filterSection {
      height: 6%;
      max-height: 10%;
      background-color: red;
      justify-content: space-between;

      .dropdown-btn {
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 0.4rem;
        margin-bottom: 0.3rem;
        margin-left: 1rem;
        padding: 0.2rem;
      }

      .search-bar {
        margin-right: 1rem;
        margin-top: 0.8rem;
      }
    }

    .userBody {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */

      max-height: 80vh;
      overflow: scroll;
      .shopContainer {
        margin: 2rem;
        .shopImage {
          width: 300px;
          padding-right: 0.5rem;
          padding-top: 1.2rem;
        }

        .shopDetail {
          position: relative;

          .Title {
            padding: 0.3rem;
          }

          .shopContact {
            padding: 0.2rem;
          }

          .shopRating {
            padding: 0.3rem;
          }
        }

        .redirectingIcon {
          display: block;
          justify-content: center;
          margin-top: 3.8rem;
          margin-left: 0.2rem;
        }
      }
    }

    .progressBar {
      .container {
        text-align: center;
        background-color: red;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        p {
          padding: 1rem;
          padding-top: 0;
        }
      }
    }
  }
}
