.userContainer {
  min-height: 100vh !important;

  .mainScreen {
    margin: auto;
    background-color: #F9F1F1;
    width: 30%;
    min-width: 30%;
    max-width: 50%;
    height: 100vh;
    max-height: 100vh;
    z-index: -1;

    .shopTitle {
      height: 10%;
      // max-height: 10%;
      background-color: #FFA801;

      p {
        font-size: 20px;
        padding-top: 0.4rem;
        text-align: center;
      }
    }

    .topPart {
      
      .headerPart {
        position: absolute;
        right: 38rem;
        top: 6rem;

        .searchBar {
          padding-right: 2rem;
        }

        .filter {

          // padding-right: 1rem;
          .filterImg {
            width: 30px;
          }
        }
      }

      .categoryPart {
        position: absolute;
        top: 7rem;
        text-align: center;
        left: 31.8rem;
        width: 420px;
        overflow-x: auto;
        overflow-y: hidden;

        .categoryContainer {
          padding-top: 2rem;
          padding-left: 1.4rem;
          padding-right: 0rem;


          .categoryImg {
            width: 80px;
          }

          .categoryName {
            background-color: rgba(255, 168, 1, 0.5);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 4.56rem;
          }
        }
      }

      .toggle {
        position: absolute;
        top: 16.7rem;
        left: 33.3rem;

        .toggleBtn {
          width: 40px;
        }
      }
    }

    .backBtn {
      position: absolute;
      z-index: 1;
      top: 2%;
      padding-left: 1%;
    }

    .filterSection {
      height: 6%;
      max-height: 10%;
      background-color: red;
      justify-content: space-between;

      .dropDown {
        margin-top: 0.3rem;
        margin-left: 0.8rem;
      }

      .search-bar {
        margin-right: 1rem;
        margin-top: 0.7rem;

      }
    }

    .userBody {
      display: block;
      padding-top: 12rem;
      margin-top: 1.1rem;
      
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */

      max-height: 80vh;
      overflow: scroll;

      .shopContainer {
        margin: 2rem;
        padding: 1.2rem;
        background-color: #fff;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        .shopDetail {
          position: relative;

          // .Title {
          //   // padding: 0.3rem;
          // }

          // .shopContact {
          //   // padding: 0.2rem;
          // }
        }

        .price {
          text-align: center;

          .priceVal {
            padding: 4px;
            background-color: rgba(255, 168, 1, 0.5);
            border-radius: 5px;
          }
        }

        .redirectingIcon {
          display: block;
          justify-content: center;
          margin-top: 3.8rem;
          margin-left: 0.2rem;
        }
      }
    }

    .progressBar {
      .container {
        text-align: center;
        background-color: #FFA801;
        padding-top: 10px;
        margin-top: 0.7rem;

        p {
          padding: 1rem;
          padding-top: 0;
        }
      }
    }
  }
}